{% macro render_category_nav(active=none) %}
  <ul>
  {% for category in site.query('/text-categories') %}
    <li{% if category._id == active %} class="active"{% endif
      %}><a href="{{ category|url }}">{{ category.name }}</a></li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_text_list(texts) %}
  <ul>
  {% for text in texts %}
    <li><a href="{{ text|url }}">{{ text.name }}</a></li>
  {% endfor %}
  </ul>
{% endmacro %}
