    <div class="container-full">
    <p>{{ bag('footer', 'footer_note') }}</p>

    <p><a href="https://gitlab.com/lsrdg/lektor-theme-texto">Lektor Theme Texto</a><br>
    
    Powered by <a href="https://www.getlektor.com/">Lektor</a>!</p>
    </div>
