<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your site description." />
    <title>{% block title %}{{ this.title }}{% endblock %}</title>

    <link href="{{ '/static/responsive.min.css'|url }}" rel="stylesheet" />
    <link href="{{ '/static/gen/styles.css'|url }}" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gidole-regular" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/unique" type="text/css"/> 

</head>
<body>

<body>
  <div class="container-full">

    <header>
    
    <div class="row equal-height">
      <div class="col-xxs-10 col-xs-8 navbar-title">
        <a class="navbar-title-a" href="{{ '/'|url }}">{{ site.config.PROJECT.name }}</a>
      </div>

      <div class="col-xxs-2 col-xs-2 visible-xxs navbar-list">
				<nav data-navigation> 
						<button>Menu</button> 
					<ul class="nav">
						{% for path, label in bag('main-nav').items() %}
							<li{% if this.is_child_of(path) %} class="active"{% endif %}>
								<a href="{{ path|url }}">{{ label }}</a>
							</li>
						{% endfor %}
					</ul>
      </nav>
      </div><!-- div class="col-xxs-2"--> 


      <div class="col-xs-4 hidden-xxs navbar-list text-push">
				<ul class="nav">
					{% for path, label in bag('main-nav').items() %}
						<li
							{% if this.is_child_of(path) %} 
								class="active inline"
							{% else %}
								class="inline"
							{% endif %}>
							<a href="{{ path|url }}">{{ label }}</a>
						</li>
					{% endfor %}
				</ul>
      </div>
      
    
    </div><!-- div class="row"--> 
  
    </header>
  </div><!-- div class="container-full"--> 


<hr>

  <main>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </main>

  <footer>

    {% include 'footer.html' %}

  </footer>


    <script src="{{ '/static/vendor/jquery-2.1.4.min.js'|url }}"></script>
    <script src="{{ '/static/responsive.min.js'|url }}"></script>
</body>
</html>
