{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-xxs-12">
    
      <h2>{{ this.title }}</h2>

      {{ this.body }}
    </div>
  </div>


  {% if this.contact_form == true %}

  <div class="row">

    <div class="col-xxs-12">
      <form action="{{ config.PROJECT.form }}" method="POST">

        <div class="row">
          <div class="col-xxs-12">
            <input type="text" placeholder="Your name" name="name"> 
          </div>
        </div>

        <div class="row">
          <div class="col-xxs-12">
            <input type="email" placeholder="Your e-mail"name="_replyto">
          </div>
        </div>

        <div class="row">
          <div class="col-xxs-12">
            <textarea id="textarea1" placeholder="Your message" name="text"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-xxs-12">
            <input type="submit" value="Send">
          </div>
        </div>

      </form> 
      </div>
    </div>
  {% endif %}

{% endblock %}
