{% extends "layout.html" %}
{% block title %}{{ this.name }} ({{ this.date.year }}){% endblock %}
{% block body %}

  <div class="container">
  <div class="row">
    <div class="col-xxs-12">
      <h2 class="article-title">{{ this.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xxs-12">
  {% set images = this.attachments.images.all() %}
  {% if images %}
    <h2>Images</h2>
    {% for image in images %}
      <div class="image">
        <img src="{{ image.thumbnail(640)|url }}" alt="">
        {% if image.exif %}
        <p class=meta>
          {{ image.exif.camera }}
          {% if image.exif.created_at %}
            ({{ image.exif.created_at|dateformat }})
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
    </div><!-- div class="col-xxs-12"--> 
  </div><!-- div class="row"--> 

  <div class="row">
    <div class="col-xxs-12 article">

      <article>{{ this.body }}</article>

    </div><!-- div class="col-xxs-12"--> 
  </div><!-- div class="row"--> 
  </div><!-- div class="container"--> 
{% endblock %}
