{% extends "layout.html" %}
{% block title %}Texts{% endblock %}
{% block body %}

   <div class="container">
  <div class="row">
    <div class="col-xxs-12 col-xs-12">
      {% set texts_root = site.get('/texts') %}
        <h2 class="blog-subtitle">{{ texts_root.title }}</h2>
    </div><!-- div class="col-xxs-12"--> 
  </div><!-- div class="row"--> 

  <div class="row">
    <div class="col-xxs-12">
      <ul class="blog-index">
          {% for text in texts_root.children %}
          <li>
            {% set image = text.attachments.images.first() %}
            {% if image %}
              <img src="{{ image.thumbnail(320)|url }}" alt="">
            {% endif %}
            <a href="{{ text|url }}">{{ text.title }}</a> 

          </li>
          {% endfor %}
      </ul>
    </div><!-- div class="col-xxs-12"--> 
  </div><!-- div class="row"--> 

</div><!-- div class="container"--> 
{% endblock %}
