{% extends "layout.html" %}
{% block title %}{{ this.title }} | My Blog{% endblock %}

<div class="container">
  {% block body %}

    <div class="row">
      <div class="col-xxs-12"> 
        <h2 class="article-title">{{ this.title }}</h2> 
        {% if this.description %}
          <p>{{ this.description }}</p>
        {% endif %}
      </div>
    </div>


    {% if this.body %}
    <div class="row article">
      <div class="col-xxs-12 article">
        {{ this.body }}
      </div>
    </div>
  {% endif %}


    <div class="row">
      <div class="col-xxs-12">
        <ul class="blog-index">
          {% for text in this.children recursive %}
          <li>
            <a href="{{ text|url }}">{{ text.title }}</a> 
          </li>
          {% endfor %}
        </ul>
      </div>
      
    </div>

     
  {% endblock %}
</div>
